extends layout

block content
    div.page-container
        div.main-page(id='header')
            nav.navbar.navbar-custom
                div.container-fluid
                    div.navbar-header
                        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        p.navbar-brand.logo.bold Bokator Khmer Angkor Club
                    div.collapse.navbar-collapse#bs-example-navbar-collapse-1
                        ul.nav.navbar-nav.navbar-right
                            li
                                div(ng-click="scrollToElement('team')") Team
                            li
                                div(ng-click="scrollToElement('performance')") Performance
                            li
                                div(ng-click="scrollToElement('class')") Class
                            li
                                div(ng-click="scrollToElement('contact')") Contact Us
        div.intro-banner
            div.intro-span
                p.title.bold
                    |We are operating a #[span.underline BOKATOR] club in #[span.underline Siem Reap]
                p Bokator is a Cambodia traditional martial art which fell
                  | during Red Khmer period under government's persecution.
                  | Now we are the only 3 Bokator clubs in Siem Reap area.
        div.team-page#team
            div.title.bold The TEAM
            div.float-block-container
                div.float-block
                    p Mostly we provide free class for students considering
                      | their poor condition
                div.float-block
                    p Some kids from rural area lives in our club.<br>
                    p.float-block-detail We teach them Bokator so even they can't afford
                         | school, they can survive and support family.
        div.row#performance
            div.col-md-6.full-block.intro-block(style='background-color: #86F7E8')
                div.block-span
                    p(align='justify') Attending performance support the organization's operation.<br>
                      | Kids will join some performance as well. They earn their living
                      | and support their family by hardworking in Bokator.
            div.col-md-6.full-block(style='background-color: #78C8FF')
                div.block-span
                    div.block-number 1
                    p.block-title Bokator Demo
                    p.block-text To show tricks and techniques to defend and attack enemy by using
                      | elbow, knee, kick, punch, crape and other style.
                    div.media-icon
                        img(src='images/video_icn.png')
        div.row
            div.col-md-6.full-block(style='background-color: #2ADECE')
                div.block-span
                    div.block-number 2
                    p.block-title Bokator Respect Master Form
                    p.block-text It's greeting to spirit of master who created Bokator Khmer
                                 | martial art by many different forms.
                    div.media-icon
                        img(src='images/pic_icn.png')
            div.col-md-6.full-block(style='background-color: #3584EA')
                div.block-span
                    div.block-number 3
                    p.block-title Bokator Fighting Show
                    p.block-text They are two man fighting and show Bokator tricks, techniques and
                        | acrobat, to escape, defend and attack to each other.
                    div.media-icon
                        img(src='images/pic_icn.png')
        div.show-page
            div.title Bokator Demonstration at CTN arena
            div.row
                div.col-md-2.col-md-offset-1.icon-block
                    div.icon-title Bokator demo and form
                    img(src='images/show_icn1.png')
                div.col-md-2.icon-block
                    div.icon-title Long stick vs Long stick
                    img(src='images/show_icn2.png')
                div.col-md-2.icon-block
                    div.icon-title Bokator fighting show
                    img(src='images/show_icn3.png')
                div.col-md-2.icon-block
                    div.icon-title Sword vs Sword
                    img(src='images/show_icn4.png')
                div.col-md-2.icon-block
                    div.icon-title Shield vs Long Stick
                    img(src='images/show_icn5.png')
        div.festival-page
            div.float-span
                div.title Festival Performance
                span Khmer New Year / Angkor Sangkran
                p Time: 14th, 15th, 16th April<br>
                  | Location: Angkor Wat
                span Water Festival Ceremony
                p Time: November<br>
                  | Location: King Road Restaurant
                span New Year Eve
                p Time: 31th Dec
                  | Location: Hotels
        div.row#class
            div.col-md-6.full-block(style='background-color: #16A267')
                div.block-span
                    div.table-title.bold Practise
                    table
                        tr
                            td.time 8:00 - 11:00
                            td.schedule Morning training session, <br>acrobat and body build
                        tr
                            td.time 11:00 - 14:00
                            td.schedule Lunch break
                        tr
                            td.time 14:00 - 15:00
                            td.schedule Afternoon session, <br> Martial art movement
                        tr
                            td.time 15:00 - 18:00
                            td.schedule Bokator Class
                        tr
                            td.time 20:00 - 22:00
                            td.schedule Performance
            div.col-md-6.full-block(style='background-color: #16A267')
                div.block-span
                    div.table-title Students
                    p.student-intro We have around 15-20 students, they train in different schedule.
                      | There are many students take class at 5 pm - 6 pm every Monday to
                      | Friday. A few students are trained every weekend. Time is flexible
                      | as they have full time jobs. <br>
                      | Some local students practise for free, some students give us 10 dollars
                      | per month. All depends on their condition. <br>
                      | There are four kids from rural area live in the club. We also provide food for them.
        div.student-page
        div.row
            div.col-md-6.full-block(style='background-color: #86F7E8; height: 560px')
                div.block-span
                    div.class-title Class for tourists
                    p.class-type Package 1, Basic Practise<br>
                                 | Training time: 1 hour, Price $5/pax
                    p.class-detail Traditional training form
                    p.class-detail Bokator self defence technique
                    p.class-detail Brief history about Bokator in Khmer
            div.col-md-6.full-block(style='background-color: #78C8FF; height: 560px')
                div.block-span
                    div.class-title Class for tourists
                    p.class-type Package 2, Weapon Practise<br>
                        | Training time: 1.5 hour, Price $10/pax
                    p.class-detail Traditional training form
                    p.class-detail  Bokator self defence technique
                    p.class-detail  Weapon Training (Sword, shield, long stick)
                    p.class-detail  Brief history about Bokator in Khmer
        div.class-page
            div.class-info-span
                div.title Capacity
                div.info 6-8 pax in the class, 1 instructor <br>
                         | 8-15 pax split 2 classes, 2 instructors
                div.title Schedule
                div.info Monday - Friday Time: 7:00-11:00am/2:00-6:00pm <br>
                         | Saturday - Sunday Time: 7:00-11:00am/3:00-6:00pm
        div.tv-page
            div.video-container
                video(src="images/talent_show.mp4", autoplay="autoplay", loop="loop")
            div.float-word Our performance team made it into semi-final of #[span.underline Cambodia Got Talent] TV show
            img(src="images/video_icn.png")
        ui-gmap-google-map(center='map.center', zoom='map.zoom', options="map.options")
            ui-gmap-marker(coords="marker.coords", options="marker.options", events="marker.events", idkey="marker.id")
        div.contact-page#contact
        div.ad-page NativeSmiles.com
