@font-face {
  font-family: DIN;
  src: url('DIN%20Regular.otf');
}
@font-face {
  font-family: DIN-Bold;
  src: url('DIN-RegularAlternate.otf');
}
body {
  font: 16px "DIN", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}
.row{
  margin: 0;
}
.page-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.bold{
  font: 18px "DIN-Bold", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.underline{
  text-decoration: underline;
}
.main-page{
  width: 100%;
  height: 554px;
  /* This image will be displayed fullscreen */
  background:url('../images/top_img.jpg') no-repeat center center;
  background-size:cover;
  .navigate{
    width: 100%;
    height: 100px;
    background-color: rgba(22, 162, 103, 0.9);
    position: absolute;
    color: #ffffff;
    .logo{
      float: left;
      line-height: 100px;
      margin-left: 35px;
      font-size: 24px;
    }
    .navigate-item{
      line-height: 100px;
      font-size: 18px;
      margin-right: 20px;
      cursor: pointer;
      float: right;
    }
  }
  .mark{
    position: absolute;
    color: #16A267;
    p{
      margin: 0;
    }
    .arrow{
      width: 0;
      height: 0;
      position: absolute;
      &.left-bottom{
        border-bottom: 10px solid #16A267;
        border-left: 10px solid transparent;
        right: -20px;
        top: 10px;
      }
      &.right-top{
        border-top: 10px solid #16A267;
        border-right: 10px solid transparent;
        top: 5px;
        left: -20px;
      }
    }
  }
}
.intro-banner{
  background-color: #29CA9B;
  width: 100%;
  height: 420px;
  display: table;
  p{
    color: #ffffff;
    font-size: 30px;
  }
  .title{
    text-align: center;
    margin-top: 100px;
    font-size: 44px;
  }
}
.team-page{
  width: 100%;
  height: 616px;
  position: relative;
  background:url('../images/team_img-2.jpg') no-repeat center center;
  background-size:cover;
  .title{
    text-align: center;
    color: #29CA9B;
    font-size: 60px;
    margin-top: 10px;
    position: absolute;
    left: 0;
    right: 0;
  }
  .float-block-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 136px;
    width: 602px;
    .float-block{
      width: 300px;
      height: 100%;
      float: left;
      color: #ffffff;
      font-size: 18px;
      background-color: rgba(22, 162, 103, 0.7);
      &:first-child{
        margin-right: 2px;
      }
      p{
        margin-left: 20px;
        margin-right: 20px;
      }
      span{
        font-size: 12px;
      }
    }
  }
}
.full-block{
  height: 638px;
  color: #ffffff;
  font-size: 30px;
  &.intro-block{
    color: #3A4248;
    line-height: 50px;
    padding-top: 168px;
  }
  p{
    margin: 0;
  }
  .block-span{
    width: 436px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: table;
  }
  .block-number{
    font-size: 50px;
    border: 1px solid #ffffff;
    border-radius: 36px;
    width: 60px;
    text-align: center;
  }
  .block-title{
    font-size: 44px;
    margin-bottom: 0;
    margin-top: 20px;
  }
  .block-text{
    line-height: 44px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .left{
    float: right;
  }
  .right{
    float: left;
  }
  .table-title{
    font-size: 30px;
    margin-bottom: 30px;
  }
  table{
    font-size: 20px;
    .time{
      width: 125px;
      vertical-align: top;
    }
    .schedule{
      width: 300px;
      vertical-align: top;
      padding-bottom: 25px;
    }
  }
  .student-intro{
    font-size: 20px;
    line-height: 32px;
  }
  .class-title{
    font-size: 44px;
  }
  .class-type{
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 60px;
    line-height: 40px;
  }
  .class-detail{
    font-size: 20px;
    margin: 0 0 10px;
    line-height: 30px;
  }
}
.show-page{
  width: 100%;
  background-color: #363B45;
  .title{
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    padding: 56px;
  }
  .icon-block{
    color: #bcbec1;
    text-align: center;
    margin-bottom: 30px;
    img{
      margin-top: 10px;
    }
  }
}
.festival-page{
  width: 100%;
  height: 648px;
  position: relative;
  background:url('../images/fav_img.jpg') no-repeat center center;
  background-size:cover;
  .float-span{
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    box-sizing: border-box;
    color: #ffffff;
    .title{
      font-size: 36px;
      color: #16A267;
      margin-bottom: 60px;
    }
    span{
      font-size: 24px;
    }
    p{
      font-size: 20px;
      margin-top: 16px;
      margin-bottom: 60px;
    }
  }
}
.student-page{
  width: 100%;
  height: 432px;
  background:url('../images/stu_img.jpg') no-repeat center center;
  background-size:cover;
}
.class-page{
  width: 100%;
  height: 256px;
  background-color: #363B45;
  color: #bcbec1;
  .class-info-span{
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    .title{
      font-size: 28px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
.angular-google-map-container { height: 360px; }
.tv-page{
  width: 100%;
  height: 360px;
  position: relative;
  background-color: #000000;
  .video-container{
    width: 480px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    video{
      margin-top: -60px;
    }
  }
  .float-word{
    width: 450px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
  }
  img{
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.contact-page {
  width: 100%;
  height: 750px;
  position: relative;
  background:url('../images/contact_img.jpg') no-repeat center center;
  background-size:cover;
}
.ad-page{
  width: 100%;
  height: 600px;
  font-size: 80px;
  text-align: center;
  padding-top: 300px;
  background-color: #2ADECE;
  color: #ffffff;
}